
.contenedor{
    background-color: rgb(100, 193, 209);
    height: 500px ;
    width: 800px;
    place-items: center;

    display: flex;
    flex-direction: column;
}
input{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    background-position: 20px;
}
h2{
    background-color: burlywood;
    border-color: antiquewhite;
}
h3{
    background-color: rgb(186, 238, 221);
}

